<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-catalogo-heading" data-cy="CatalogoCreateUpdateHeading" jhiTranslate="devixApp.catalogo.home.createOrEditLabel">
        Crear o editar Catalogo
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="devixApp.catalogo.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let noCiaRef = editForm.get('noCia')!;
        <div class="mb-3">
          <label class="form-label" for="field_noCia" jhiTranslate="devixApp.catalogo.noCia">No Cia</label>
          <input type="number" class="form-control" name="noCia" id="field_noCia" data-cy="noCia" formControlName="noCia" />
          @if (noCiaRef.invalid && (noCiaRef.dirty || noCiaRef.touched)) {
            <div>
              @if (editForm.get('noCia')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('noCia')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let descripcion1Ref = editForm.get('descripcion1')!;
        <div class="mb-3">
          <label class="form-label" for="field_descripcion1" jhiTranslate="devixApp.catalogo.descripcion1">Descripcion 1</label>
          <input
            type="text"
            class="form-control"
            name="descripcion1"
            id="field_descripcion1"
            data-cy="descripcion1"
            formControlName="descripcion1"
          />
          @if (descripcion1Ref.invalid && (descripcion1Ref.dirty || descripcion1Ref.touched)) {
            <div>
              @if (editForm.get('descripcion1')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descripcion2" jhiTranslate="devixApp.catalogo.descripcion2">Descripcion 2</label>
          <input
            type="text"
            class="form-control"
            name="descripcion2"
            id="field_descripcion2"
            data-cy="descripcion2"
            formControlName="descripcion2"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estado" jhiTranslate="devixApp.catalogo.estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_orden" jhiTranslate="devixApp.catalogo.orden">Orden</label>
          <input type="number" class="form-control" name="orden" id="field_orden" data-cy="orden" formControlName="orden" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_texto1" jhiTranslate="devixApp.catalogo.texto1">Texto 1</label>
          <input type="text" class="form-control" name="texto1" id="field_texto1" data-cy="texto1" formControlName="texto1" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_texto2" jhiTranslate="devixApp.catalogo.texto2">Texto 2</label>
          <input type="text" class="form-control" name="texto2" id="field_texto2" data-cy="texto2" formControlName="texto2" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tipoCatalogo" jhiTranslate="devixApp.catalogo.tipoCatalogo">Tipo Catalogo</label>
          <select
            class="form-control"
            id="field_tipoCatalogo"
            data-cy="tipoCatalogo"
            name="tipoCatalogo"
            formControlName="tipoCatalogo"
            [compareWith]="compareTipoCatalogo"
          >
            <option [ngValue]="null"></option>
            @for (tipoCatalogoOption of tipoCatalogosSharedCollection; track $index) {
              <option [ngValue]="tipoCatalogoOption">{{ tipoCatalogoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
