<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (categoriaPaciente(); as cat) {
      <div>
        <h2 data-cy="categoriaPacienteDetailsHeading">
          <span jhiTranslate="devixApp.categoriaPaciente.detail.title">Categoría de Paciente</span>
        </h2>
        <hr />
        <jhi-alert-error />
        <jhi-alert />
        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cat.id }}</span>
          </dd>
          <dt><span jhiTranslate="devixApp.categoriaPaciente.noCia">No Cia</span></dt>
          <dd>
            <span>{{ cat.noCia }}</span>
          </dd>
          <dt><span jhiTranslate="devixApp.categoriaPaciente.nombre">Nombre</span></dt>
          <dd>
            <span>{{ cat.nombre }}</span>
          </dd>
        </dl>
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>
        <button type="button" [routerLink]="['/historia-clinica/categoria-paciente', cat.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
