<div>
  <h2 id="page-heading" data-cy="DocumentoHeading">
    <span jhiTranslate="devixApp.documento.home.title">Documentos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="devixApp.documento.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-documento"
        [routerLink]="['/documento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="devixApp.documento.home.createLabel">Crear nuevo Documento</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (documentos().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="devixApp.documento.home.notFound">Ningún Documentos encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="noCia">
              <div class="d-flex">
                <span jhiTranslate="devixApp.documento.noCia">No Cia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipo">
              <div class="d-flex">
                <span jhiTranslate="devixApp.documento.tipo">Tipo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="observacion">
              <div class="d-flex">
                <span jhiTranslate="devixApp.documento.observacion">Observacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaCreacion">
              <div class="d-flex">
                <span jhiTranslate="devixApp.documento.fechaCreacion">Fecha Creacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaVencimiento">
              <div class="d-flex">
                <span jhiTranslate="devixApp.documento.fechaVencimiento">Fecha Vencimiento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="path">
              <div class="d-flex">
                <span jhiTranslate="devixApp.documento.path">Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cliente.id">
              <div class="d-flex">
                <span jhiTranslate="devixApp.documento.cliente">Cliente</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="evento.id">
              <div class="d-flex">
                <span jhiTranslate="devixApp.documento.evento">Evento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (documento of documentos(); track trackId(documento)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/documento', documento.id, 'view']">{{ documento.id }}</a>
              </td>
              <td>{{ documento.noCia }}</td>
              <td>{{ documento.tipo }}</td>
              <td>{{ documento.observacion }}</td>
              <td>{{ documento.fechaCreacion | formatMediumDatetime }}</td>
              <td>{{ documento.fechaVencimiento | formatMediumDatetime }}</td>
              <td>{{ documento.path }}</td>
              <td>
                @if (documento.cliente) {
                  <div>
                    <a [routerLink]="['/cliente', documento.cliente.id, 'view']">{{ documento.cliente.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (documento.evento) {
                  <div>
                    <a [routerLink]="['/evento', documento.evento.id, 'view']">{{ documento.evento.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/documento', documento.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/documento', documento.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(documento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
