<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-detalle-factura-heading"
        data-cy="DetalleFacturaCreateUpdateHeading"
        jhiTranslate="devixApp.detalleFactura.home.createOrEditLabel"
      >
        Crear o editar Detalle Factura
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="devixApp.detalleFactura.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let noCiaRef = editForm.get('noCia')!;
        <div class="mb-3">
          <label class="form-label" for="field_noCia" jhiTranslate="devixApp.detalleFactura.noCia">No Cia</label>
          <input type="number" class="form-control" name="noCia" id="field_noCia" data-cy="noCia" formControlName="noCia" />
          @if (noCiaRef.invalid && (noCiaRef.dirty || noCiaRef.touched)) {
            <div>
              @if (editForm.get('noCia')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('noCia')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let cantidadRef = editForm.get('cantidad')!;
        <div class="mb-3">
          <label class="form-label" for="field_cantidad" jhiTranslate="devixApp.detalleFactura.cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="field_cantidad" data-cy="cantidad" formControlName="cantidad" />
          @if (cantidadRef.invalid && (cantidadRef.dirty || cantidadRef.touched)) {
            <div>
              @if (editForm.get('cantidad')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('cantidad')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >Este campo debe ser mayor que 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('cantidad')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let precioUnitarioRef = editForm.get('precioUnitario')!;
        <div class="mb-3">
          <label class="form-label" for="field_precioUnitario" jhiTranslate="devixApp.detalleFactura.precioUnitario">Precio Unitario</label>
          <input
            type="number"
            class="form-control"
            name="precioUnitario"
            id="field_precioUnitario"
            data-cy="precioUnitario"
            formControlName="precioUnitario"
          />
          @if (precioUnitarioRef.invalid && (precioUnitarioRef.dirty || precioUnitarioRef.touched)) {
            <div>
              @if (editForm.get('precioUnitario')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('precioUnitario')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo debe ser mayor que 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precioUnitario')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let subtotalRef = editForm.get('subtotal')!;
        <div class="mb-3">
          <label class="form-label" for="field_subtotal" jhiTranslate="devixApp.detalleFactura.subtotal">Subtotal</label>
          <input type="number" class="form-control" name="subtotal" id="field_subtotal" data-cy="subtotal" formControlName="subtotal" />
          @if (subtotalRef.invalid && (subtotalRef.dirty || subtotalRef.touched)) {
            <div>
              @if (editForm.get('subtotal')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('subtotal')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo debe ser mayor que 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('subtotal')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let descuentoRef = editForm.get('descuento')!;
        <div class="mb-3">
          <label class="form-label" for="field_descuento" jhiTranslate="devixApp.detalleFactura.descuento">Descuento</label>
          <input type="number" class="form-control" name="descuento" id="field_descuento" data-cy="descuento" formControlName="descuento" />
          @if (descuentoRef.invalid && (descuentoRef.dirty || descuentoRef.touched)) {
            <div>
              @if (editForm.get('descuento')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('descuento')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo debe ser mayor que 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('descuento')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let impuestoRef = editForm.get('impuesto')!;
        <div class="mb-3">
          <label class="form-label" for="field_impuesto" jhiTranslate="devixApp.detalleFactura.impuesto">Impuesto</label>
          <input type="number" class="form-control" name="impuesto" id="field_impuesto" data-cy="impuesto" formControlName="impuesto" />
          @if (impuestoRef.invalid && (impuestoRef.dirty || impuestoRef.touched)) {
            <div>
              @if (editForm.get('impuesto')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('impuesto')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo debe ser mayor que 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('impuesto')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let totalRef = editForm.get('total')!;
        <div class="mb-3">
          <label class="form-label" for="field_total" jhiTranslate="devixApp.detalleFactura.total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          @if (totalRef.invalid && (totalRef.dirty || totalRef.touched)) {
            <div>
              @if (editForm.get('total')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('total')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo debe ser mayor que 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('total')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_factura" jhiTranslate="devixApp.detalleFactura.factura">Factura</label>
          <select
            class="form-control"
            id="field_factura"
            data-cy="factura"
            name="factura"
            formControlName="factura"
            [compareWith]="compareFactura"
          >
            <option [ngValue]="null"></option>
            @for (facturaOption of facturasSharedCollection; track $index) {
              <option [ngValue]="facturaOption">{{ facturaOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_producto" jhiTranslate="devixApp.detalleFactura.producto">Producto</label>
          <select
            class="form-control"
            id="field_producto"
            data-cy="producto"
            name="producto"
            formControlName="producto"
            [compareWith]="compareProducto"
          >
            <option [ngValue]="null"></option>
            @for (productoOption of productosSharedCollection; track $index) {
              <option [ngValue]="productoOption">{{ productoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
