<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-empleado-heading" data-cy="EmpleadoCreateUpdateHeading" jhiTranslate="devixApp.empleado.home.createOrEditLabel">
        Crear o editar Empleado
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="devixApp.empleado.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let noCiaRef = editForm.get('noCia')!;
        <div class="mb-3">
          <label class="form-label" for="field_noCia" jhiTranslate="devixApp.empleado.noCia">No Cia</label>
          <input type="number" class="form-control" name="noCia" id="field_noCia" data-cy="noCia" formControlName="noCia" />
          @if (noCiaRef.invalid && (noCiaRef.dirty || noCiaRef.touched)) {
            <div>
              @if (editForm.get('noCia')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('noCia')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let dniRef = editForm.get('dni')!;
        <div class="mb-3">
          <label class="form-label" for="field_dni" jhiTranslate="devixApp.empleado.dni">Dni</label>
          <input type="text" class="form-control" name="dni" id="field_dni" data-cy="dni" formControlName="dni" />
          @if (dniRef.invalid && (dniRef.dirty || dniRef.touched)) {
            <div>
              @if (editForm.get('dni')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let nombreRef = editForm.get('nombre')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="devixApp.empleado.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contacto" jhiTranslate="devixApp.empleado.contacto">Contacto</label>
          <input type="text" class="form-control" name="contacto" id="field_contacto" data-cy="contacto" formControlName="contacto" />
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="devixApp.empleado.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('email')?.errors?.pattern) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }"
                  >Este campo debe seguir el patrón Email.</small
                >
              }
            </div>
          }
        </div>

        @let pathImagenRef = editForm.get('pathImagen')!;
        <div class="mb-3">
          <label class="form-label" for="field_pathImagen" jhiTranslate="devixApp.empleado.pathImagen">Path Imagen</label>
          <input
            type="text"
            class="form-control"
            name="pathImagen"
            id="field_pathImagen"
            data-cy="pathImagen"
            formControlName="pathImagen"
          />
          @if (pathImagenRef.invalid && (pathImagenRef.dirty || pathImagenRef.touched)) {
            <div>
              @if (editForm.get('pathImagen')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let telefonoRef = editForm.get('telefono')!;
        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="devixApp.empleado.telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
          @if (telefonoRef.invalid && (telefonoRef.dirty || telefonoRef.touched)) {
            <div>
              @if (editForm.get('telefono')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
