<div>
  <h2 id="page-heading" data-cy="CatalogoHeading">
    <span jhiTranslate="devixApp.catalogo.home.title">Catalogos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="devixApp.catalogo.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-catalogo"
        [routerLink]="['/catalogo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="devixApp.catalogo.home.createLabel">Crear nuevo Catalogo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (catalogos().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="devixApp.catalogo.home.notFound">Ningún Catalogos encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="noCia">
              <div class="d-flex">
                <span jhiTranslate="devixApp.catalogo.noCia">No Cia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion1">
              <div class="d-flex">
                <span jhiTranslate="devixApp.catalogo.descripcion1">Descripcion 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion2">
              <div class="d-flex">
                <span jhiTranslate="devixApp.catalogo.descripcion2">Descripcion 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estado">
              <div class="d-flex">
                <span jhiTranslate="devixApp.catalogo.estado">Estado</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orden">
              <div class="d-flex">
                <span jhiTranslate="devixApp.catalogo.orden">Orden</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="texto1">
              <div class="d-flex">
                <span jhiTranslate="devixApp.catalogo.texto1">Texto 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="texto2">
              <div class="d-flex">
                <span jhiTranslate="devixApp.catalogo.texto2">Texto 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipoCatalogo.id">
              <div class="d-flex">
                <span jhiTranslate="devixApp.catalogo.tipoCatalogo">Tipo Catalogo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (catalogo of catalogos(); track trackId(catalogo)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/catalogo', catalogo.id, 'view']">{{ catalogo.id }}</a>
              </td>
              <td>{{ catalogo.noCia }}</td>
              <td>{{ catalogo.descripcion1 }}</td>
              <td>{{ catalogo.descripcion2 }}</td>
              <td>{{ catalogo.estado }}</td>
              <td>{{ catalogo.orden }}</td>
              <td>{{ catalogo.texto1 }}</td>
              <td>{{ catalogo.texto2 }}</td>
              <td>
                @if (catalogo.tipoCatalogo) {
                  <div>
                    <a [routerLink]="['/tipo-catalogo', catalogo.tipoCatalogo.id, 'view']">{{ catalogo.tipoCatalogo.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/catalogo', catalogo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/catalogo', catalogo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(catalogo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
